<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Studio</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Custom Styles -->
  <style>
    body {
        background-color: #2d2d2d;
    }
    .pad {
      margin: 10px 0;
    }
  </style>
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <h2 class="bg-dark pad" style="padding: 20px; border-radius: 8px;color: white;">
          Projects
        </h2>
        <div class="row">
            {%block content%}
          {% for project in projects%}
		<div class="col-md-4 pad">
			<div class="card bg-dark" style="color:white;">
				<h5 class="card-header">
					{{project.title}}
				</h5>
                <img src="{{project.image.url}}" style="width:100%">
				<div class="card-body">
					<p class="card-text">
						{{project.text}}
					</p>
				</div>
				<div class="card-footer">
					<a href='{{project.image}}' role="button" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</div>
	{% endfor %}
            {% endblock %}
        </div>
      </div>

    </div>
  </div>
</body>
</html>
